:root{
    --primary-color: #0b2027;
    --secondary-color: #407987;
    --text-color: #f6f1d1;
    --carrot-color: #ef233c;
    --input-border: #fec89a;
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* header */

.nav{
    display: block !important;
    /* background-color: var(--primary-color); */
    background: rgb(2,0,36);
    background: linear-gradient(29deg, rgba(2,0,36,1) 0%, rgba(0,0,0,1) 34%, rgba(160,167,168,1) 100%);
    color: var(--text-color);
    width: 100%;
}

.logo{
    display: flex;
    justify-content: center;
    align-items: center;
}

.site-name{
    font-size: 9vmin;
    font-weight: bolder;
    /* text-align: center; */
}

.tag-line{
    font-size: 5vmin;
    /* text-align: center; */
}

.col-md-10{
    background: #ef233c;
    border-top: 5px solid rgb(30, 195, 30);
}

.col-md-2{
    background: rgb(2,0,36);
    border-right: 5px solid rgb(30, 195, 30);
    height: 100vh;
}